@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Koulen&family=Raleway:wght@300&display=swap');
body {
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;

}
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'DM Sans', sans-serif;

  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }

.active {
  background-color:rgb(227, 227, 0);
  border-style:solid;
  border-width:2px;
  border-color:rgb(255, 200, 0);
  color:black;
  font-family: 'DM Sans', sans-serif;
  font-weight:bold;
}
.active:hover{
  color:white;
}


footer{
  bottom:0;
  up:0;
  border:solid 1px black;
  text-align:center;
  
}
body {
  text-align:center;
}

.SVT {
  text-align:center;
  margin:22px;
  color:black;
  font-family: 'DM Sans', sans-serif;
  font-size:34px;
}


.SVT_BOX {
  background-image:url('/projects/bg_svt.jpeg');
  border-radius:10px;
  background-size:1900px 1800px;
  margin:9vh;
  border:1px solid black;
  text-decoration-style:none;
  text-decoration-line: none;
}
.SVT_BOX a {
  color:inherit;
}

.SVT a  {

  color:inherit;
  text-align:center;
  margin:22px;
  color:black;
  font-family: 'DM Sans', sans-serif;
  font-size:34px;
  text-decoration-line:none;
  
}

.video_svt {
  
  text-align:center;
  margin:22px;
  color:black;
  font-family: 'DM Sans', sans-serif;
  font-weight:bolder;
  text-decoration-line:none;  
  font-size:34px;
  
}

.video_svt a {
  color:inherit;
}


.video_svt a  {
  color:inherit;
  text-decoration-line:none;
  
}



.quiz_svt {
  
  text-align:center;
  margin:22px;
  color:black;
  font-family: 'DM Sans', sans-serif;
  font-weight:bolder;
  text-decoration-line:none;  
  font-size:34px;
  
}



.quiz_svt a {
  color:inherit;
  text-decoration-line:none;
}


.quiz_svt a  {
  color:inherit;
  text-decoration-line:none;
  
}

.QUIZ_BOX {
  background-image:url('/projects/quizbg.jpeg');
  background-size:900px 400px;
  border-radius:10px;
  margin:9vh;
  border:1px solid black;
  text-decoration-style:none;
  text-decoration-line: none;
}


.QUIZ_BOX a {
  color:inherit;
}

.SVT_BOX:hover{
    opacity:70%;
}

.QUIZ_BOX:hover{
    opacity:80%;
}